body, html {
		height: 100%;
}	

.card {
	display: block;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #F0F0F0;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sign_or_log {
	margin-left: 300px;
	color:  #E0E0E0;
}

.login_button {
	margin-left: 10px;
}

.or{
	margin-left: 10px;
}

.signup_button {
	margin-left: 10px;
}

.website {
	position: absolute;
	left: 45%;
	bottom: 1%;
}